* {
    margin: 0px;
    padding: 0px;
}

.brand-name,.search-button a , .nav-links a , .nav-icons a{
    color:  var(--ecomm-color-primary);
}

.nav-container {
    width: 100%;
    background-color: var(--ecomm-color-navbar);
    height: 6rem;
    border: none;
    border-bottom: 2px solid var( --ecomm-color-border);
    margin: 0rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.ecomm-brand-name{
    color: var( --ecomm-color-primary);
    font-size: 2.5rem;
    margin-left: 10px;
}
.ecomm-link-container{
    display: flex;
}
.ecomm-icon{
    padding: 0px 5px;
    display: flex;
    border-radius: 5px;
}
.badge-icon{
    font-size: 1.5rem;
    color: var( --ecomm-color-primary);
}
.nav-icon-text{
    color:  var( --ecomm-color-primary);
    font-weight: 600;
}   


